.aiplugs-dialog {
    position: absolute;
    background: rgba(0, 0, 0, 0.15);
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aiplugs-dialog__content {
    background: white;
    padding: 1.6rem;
    border-radius: 0.3rem;
}
.aiplugs-dialog__message {
    padding: 1.6rem;
    text-align: center;
}
.aiplugs-dialog__actions {
    display: flex;
    justify-content: center;
}