.aiplugs-button {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    outline: none;
    color: var(--color-text-secondary);
    background: transparent;
    box-sizing: border-box;
    border-radius: 0.3rem;
    border: 0.1rem solid transparent;
    margin: 0.1rem;
    user-select: none;
    transition: all linear 0.125s;
}
.aiplugs-button:hover {
    cursor: pointer;
    color: var(--color-text-primary);
}
.aiplugs-button:active {
    color: var(--color-text-secondary);
}

.aiplugs-button.--primary {
    color: var(--color-primary);
}
.aiplugs-button.--primary:hover {
    color: var(--color-accent);
}
.aiplugs-button.--primary:active {
    color: var(--color-primary);
}
.aiplugs-button.--warning {
    color: var(--color-error);
}
.aiplugs-button.--warning:hover {
    color: var(--color-error);
}
.aiplugs-button.--warning:active {
    color: var(--color-text-secondary);
}

.aiplugs-button.--block {
    color: var(--color-text-secondary);
    background: var(--color-mono);
}
.aiplugs-button.--block:hover {
    color: white;
    background: var(--color-text-secondary);
}
.aiplugs-button.--block:active {
    color: var(--color-text-secondary);
    border-color: var(--color-text-secondary);
    background: transparent;
}

.aiplugs-button.--block.--primary {
    color: white;
    background: var(--color-primary);
}
.aiplugs-button.--block.--primary:hover {
    background: var(--color-accent);
}
.aiplugs-button.--block.--primary:active {
    color: var(--color-primary);
    border-color: var(--color-primary);
    background: transparent;
}
.aiplugs-button.--block.--warning {
    color: white;
    background: var(--color-error);
}
.aiplugs-button.--block.--warning:hover {
    background: var(--color-error);
}
.aiplugs-button.--block.--warning:active {
    color: var(--color-error);
    border-color: var(--color-error);
    background: transparent;
}