@using Aiplugs.Elements
@{
    ViewBag.PageName = "Ajax";
    ViewData["Title"] = "AJAX";
    var usernames = new Ajax { Url = "/usernames.json?startsWith={0}" };
    var cities = new Ajax { Url = "/cities.json?startsWith={0}" };
}
<aiplugs-blade label="Sample">
    <form id="list" method="GET" class="flex flex-column">
        <aiplugs-actions>
            <button is="aiplugs-button" looks="block" color="primary">Update</button>
            <button is="aiplugs-button">Cancel</button>
            <span is="aiplugs-space"></span>
            <button type="button" is="aiplugs-button" open="#delete-dialog">Delete</button>
            <aiplugs-dialog id="delete-dialog">
                <p slot="content">本当に削除しますか？</p>
                <div slot="actions">
                    <button type="submit" is="aiplugs-button" color="warning" close="aiplugs-dialog">Yes</button>
                    <button type="button" is="aiplugs-button" looks="block" color="primary" close="aiplugs-dialog">No</button>
                </div>            
            </aiplugs-dialog>
        </aiplugs-actions>
        <div class="flex" style="padding:0 24px; overflow-y: scroll;">
            <aiplugs-input name="Unique" label="Unique Field" description="This is Unique field. When you input `aiplugs`, it mark duplicate error." unique ajax=@usernames/>
            <aiplugs-input name="Suggestion" label="Suggestion Field" description="This is Suggestion field" ajax=@cities/>
            <aiplugs-tag name="Tag" label="Tag Field" description="This is Tag field" ajax=@cities/>
        </div>
    </form>
</aiplugs-blade>