@{
    ViewData["Title"] = "Files";
}
<aiplugs-nav>
    <aiplugs-nav-item icon="~/images/icon.svg" href="~/">
        <span class="logo">aiplugs cms</span>
    </aiplugs-nav-item>
    <aiplugs-nav-item icon="fa fa-bars" class="fold-action">
    </aiplugs-nav-item>
    <aiplugs-nav-item icon="fa fa-folder" class="active">
        <span>Files</span>
    </aiplugs-nav-item>
    <aiplugs-nav-item icon="fa fa-sticky-note">
        <span>Templates</span>
    </aiplugs-nav-item>
    <aiplugs-nav-item icon="fa fa-database">
        <span>Collections</span>
    </aiplugs-nav-item>
    <aiplugs-nav-items>
        <aiplugs-nav-item href="form.html">Sample Collection</aiplugs-nav-item>
    </aiplugs-nav-items>
    <aiplugs-nav-item icon="fa fa-cog">
        <span>Settings</span>
    </aiplugs-nav-item>
    <aiplugs-nav-items>
        <aiplugs-nav-item>Collections</aiplugs-nav-item>
    <aiplugs-nav-item>Users</aiplugs-nav-item>
        <aiplugs-nav-item>App Settings</aiplugs-nav-item>
    </aiplugs-nav-items>
    <div class="flex"></div>
    <aiplugs-nav-item slot="bottom" icon="https://avatars2.githubusercontent.com/u/1011232?s=32&u=332a5b77904556e83686f16105a3355f46c82292&v=4">
        iwate
    </aiplugs-nav-item>
</aiplugs-nav>
<aiplugs-blade label="Sample">
    <form id="files" method="GET" class="flex">
        <aiplugs-actions id="actions">
            <button is="aiplugs-button">Button</button>
            <button is="aiplugs-button" color="primary" when="one">Button</button>
            <button is="aiplugs-button" looks="block">Button</button>
            <span is="aiplugs-space"></span>
            <button type="button" id="open-dialog" is="aiplugs-button" when="any">Delete</button>
            <aiplugs-dialog open="#open-dialog">
                <p is="aiplugs-dialog-message">本当に削除しますか？</p>
                <div is="aiplugs-dialog-actions">
                    <button name="remove" for="files" type="submit" is="aiplugs-button" color="warning" behave="aiplugs-dialog-close">Yes</button>
                    <button is="aiplugs-button" looks="block" color="primary" behave="aiplugs-dialog-close">No</button>
                </div>
            </aiplugs-dialog>
        </aiplugs-actions>
        
        <aiplugs-list id="list" label-name="Name*" label-size="Size" label-lastmodified="Last Modified" onchange="onSelectedItems()">
            <aiplugs-list-item name="items" item="1">
                <aiplugs-list-column class="flex">
                    <a href="#">
                        <i class="fa fa-folder"></i>Sample 1
                    </a>
                </aiplugs-list-column>
                <aiplugs-list-column class="text-small">500 KB</aiplugs-list-column>
                <aiplugs-list-column class="text-small">2018/07/23 12:00:00</aiplugs-list-column>
            </aiplugs-list-item>
            <aiplugs-list-item name="items" item="2">
                <aiplugs-list-column class="flex">
                    <a ic-get-from="/preview" ic-target="#preview" ic-replace-target="true">
                        <i class="far fa-file"></i>Sample 2
                    </a>
                </aiplugs-list-column>
                <aiplugs-list-column class="text-small">500 KB</aiplugs-list-column>
                <aiplugs-list-column class="text-small">2018/07/23 12:00:00</aiplugs-list-column>
            </aiplugs-list-item>
        </aiplugs-list>
    </form>
</aiplugs-blade>
<div id="preview"></div>
<script>
    function onSelectedItems() {
        const actions = AiplugsElements.find('#actions');
        const list = AiplugsElements.find('#list');
        actions.items = list.electedItems.length;
    }
</script>
<script type="text/html">
    <h1>Hello</h1>
</script>