@model SampleViewModel
@using Aiplugs.Elements
@{
    ViewBag.PageName = "ModelExpression";
    ViewData["Title"] = "Model Expression";
    var ajax = new Ajax { Url = "/usernames.json?startsWith={0}" };
    var ajax2 = new Ajax { Url = "/cities.json?startsWith={0}" };
    var selection1 = new SelectListItem[]{new SelectListItem { Text = "" }}.Concat(Enumerable.Range(0, 10).Select(i => new SelectListItem { Text = $"<strong>Text {i}</strong>", Value = i.ToString() }));
    var selection2 = Enumerable.Range(0, 4).Select(i => new SelectListItem { Text = $"<strong>Text {i}</strong>", Value = i.ToString() });
    var selection3 = Enumerable.Range(0, 10).Select(i => new SelectListItem { Text = $"<strong>Text {i}</strong>", Value = i.ToString() });
    var selection4 = Enumerable.Range(0, 4).Select(i => new SelectListItem { Text = $"<strong>Text {i}</strong>", Value = i.ToString() });
    var code = @"<h1>Hello, World!</h1>";
    var name = "Name <script>alert('xss')</script>";
    var dict = new Dictionary<string, string> { {"MSG", "Hello, World!"} };
    var tags = new [] { new SelectListItem { Text = "東京", Value = "tokyo"} };
    var tagValue = new [] { "tokyo" };
}

<aiplugs-blade label="Sample">
    <form id="list" method="GET" class="flex flex-column">
        <aiplugs-actions>
            <button is="aiplugs-button" looks="block" color="primary">Update</button>
            <button is="aiplugs-button">Cancel</button>
            <span is="aiplugs-space"></span>
            <button type="button" is="aiplugs-button" open="#delete-dialog">Delete</button>
            <aiplugs-dialog id="delete-dialog">
                <p slot="content">本当に削除しますか？</p>
                <div slot="actions">
                    <button type="submit" is="aiplugs-button" color="warning" close="aiplugs-dialog">Yes</button>
                    <button type="button" is="aiplugs-button" looks="block" color="primary" close="aiplugs-dialog">No</button>
                </div>            
            </aiplugs-dialog>
        </aiplugs-actions>
        <div class="flex" style="padding:0 24px; overflow-y: scroll;">
            <aiplugs-input asp-for="String1"/>
            <aiplugs-input asp-for="String2"/>
            <aiplugs-input asp-for="String3"/>
            <aiplugs-textarea asp-for="String4"/>
            <aiplugs-select asp-for="Enum1"/>
            <aiplugs-select asp-for="Enum2"/>
            <aiplugs-tag asp-for="Enum3"/>
            <aiplugs-dictionary asp-for="Dictionary1"/>
            <aiplugs-checkbox asp-for="Boolean"/>
        </div>
    </form>
</aiplugs-blade>