@using Aiplugs.Elements
@{
    ViewBag.PageName = "Monaco";
    ViewData["Title"] = "Text Data";
    var code = @"<h1>Hello, World!</h1>";
}
<aiplugs-blade label="Sample">
    <form id="list" method="GET" class="flex flex-column">
        <aiplugs-actions>
            <button is="aiplugs-button" looks="block" color="primary">Update</button>
            <button is="aiplugs-button">Cancel</button>
            <span is="aiplugs-space"></span>
            <button type="button" is="aiplugs-button" open="#delete-dialog">Delete</button>
            <template id="delete-dialog">
                <aiplugs-dialog>
                    <p slot="content">本当に削除しますか？</p>
                    <div slot="actions">
                        <button type="submit" is="aiplugs-button" color="warning" close="aiplugs-dialog">Yes</button>
                        <button type="button" is="aiplugs-button" looks="block" color="primary" close="aiplugs-dialog">No</button>
                    </div>
                </aiplugs-dialog>
            </template>
        </aiplugs-actions>
        <div class="flex">
            <aiplugs-monaco name="value"></aiplugs-monaco>
        </div>
    </form>
</aiplugs-blade>