@{
    Layout = null;
}

<iframe src="/preview.html" class="file-modal__preview-frame"></iframe>
<form class="file-modal__preview-actions">
    <input type="hidden" name="src" value="https://avatars2.githubusercontent.com/u/1011232?s=32&u=332a5b77904556e83686f16105a3355f46c82292&v=4">
    <input type="hidden" name="alt" value="iwate icon">
    <input type="hidden" name="title" value="iwate">
    <aiplugs-actions>
        <button is="aiplugs-button" close="aiplugs-modal">Cancel</button>
        <button is="aiplugs-button" id="file-modal__select" looks="block" size="full" color="primary" ic-post-to="//aiplugs-tinymce/active/images" with-close="aiplugs-modal">Insert</button>
    </aiplugs-actions>
</form>