@{
    Layout = null;
}
<aiplugs-blade label="Preview">
    <aiplugs-actions>
        <button is="aiplugs-button">Edit</button>
    </aiplugs-actions>
    <iframe src="/preview.html" style="height: 100%;"></iframe>
</aiplugs-blade>
