<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sample</title>
    <aiplugs-assets />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intercooler-js/1.2.1/intercooler.min.js"></script>
    
    <style>
        :root {
            --bg-image-primary: url('/images/bg.webp');
            --bg-image-secondary: url('/images/bg.webp');
        }
        body {
            position: relative;
        }
        body::before {
            content: "";
            position: absolute;
            top: -0.5rem;
            bottom: -0.5rem;
            left: -0.5rem;
            right: -0.5rem;
            /* filter: brightness(var(--bg-image-brightness), 100%);       */
            background: var(--bg-image-secondary);
            background-size: cover;  
            z-index: -1;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
